{% extends "base.html" %}

{% block title %}เมนูกับข้าวบ้านนุ่นแอม{% endblock %}

{% block content %}
<section class="card">

    <h1 class="main-title">เมนูกับข้าวบ้านนุ่นแอม</h1>

    <form class="add-form"
          action="{{ url_for('add_category') }}"
          method="post">

        <input type="text"
               name="name"
               placeholder="เพิ่มประเภท เช่น นึ่ง"
               required>

        <button type="submit">
            + เพิ่มประเภท
        </button>
    </form>
    <p class="total-count">
    รวมทุกประเภททั้งหมด {{ total_foods }} เมนู
    </p>

    <div class="list">

        {% for category in categories %}

            <div class="row">
                <div class="top-line">
                    <a class="main-link"
                        href="{{ url_for('category', category_id=category.id) }}">
                        <strong>{{ category.name }}</strong>
                        <span class="menu-count">
                            มีทั้งหมด {{ category.foods|length }} เมนู
                        </span>
                    </a>
                    <button class="tiny-btn edit"
                            type="button"
                            onclick="toggleEdit('edit-category-{{ category.id }}')">
                        แก้ไข
                    </button>

                </div>       

                <form id="edit-category-{{ category.id }}"
                      class="edit-form"
                      action="{{ url_for('edit_category', category_id=category.id) }}"
                      method="post">

                    <input type="text"
                           name="name"
                           value="{{ category.name }}"
                           required>

                    <button type="submit">
                        บันทึก
                    </button>

                </form>

            </div>

        {% else %}

            <div class="empty">
                ยังไม่มีประเภทเมนู
            </div>

        {% endfor %}

    </div>

</section>
{% endblock %}